.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #E6E7E7A8;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 1.5px;
}

.truncate-multi-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  /* 限制顯示5行 */
}

.expanded {
  -webkit-line-clamp: unset;
  -webkit-box-orient: initial;
  overflow: visible;
}