<div
  id="drawer-left-example"
  class="fixed left-0 top-0 z-10 h-screen w-full -translate-x-full overflow-y-auto bg-[#F5F6F6] px-6 text-[#141515] transition-transform"
  tabindex="-1"
  aria-labelledby="drawer-left-label"
>
  <div class="space-y-4">
    <button
      type="button"
      data-drawer-hide="drawer-left-example"
      aria-controls="drawer-left-example"
      class="flex items-center justify-center py-3"
    >
      <i class="bx bx-left-arrow-alt text-2xl leading-6"></i>
      <span class="sr-only">Close menu</span>
    </button>

    <!-- Location Search -->
    <div class="relative">
      <button
        type="button"
        id="dropdownWhereButton"
        data-dropdown-toggle="dropdown-where"
        class="flex w-full items-center justify-between rounded-2xl bg-white px-5 py-4 shadow-[0px_6px_12px_-4px_#0000001A]"
      >
        <div class="flex gap-x-2">
          <i class="bx bx-search-alt-2 text-2xl leading-6"></i>
          <p>Where</p>
        </div>
        <p class="text-sm font-semibold">Current location</p>
      </button>
      <!-- Dropdown menu -->
      <div
        id="dropdown-where"
        class="z-10 hidden w-full !-translate-y-0 space-y-3 divide-gray-100 rounded-[20px] bg-white shadow-[0px_12px_16px_-4px_#00000014]"
      >
        <div class="mx-2 mt-2 rounded-2xl border border-neutral-100">
          <label
            for="location-search"
            class="sr-only text-sm font-medium text-gray-900"
          >
            location-search
          </label>
          <div class="flex items-center gap-x-2 rounded-xl px-4">
            <i class="bx bx-search text-2xl leading-6"></i>
            <input
              type="search"
              id="location-search"
              class="w-full border-none bg-white px-0 py-2 placeholder:font-semibold placeholder:text-black focus:border-transparent focus:ring-transparent"
              placeholder="Where to?"
              required
            />
            <button class="close-dropdown h-[22px] w-5">
              <i
                class="bx bxs-x-circle text-xl leading-[22px] text-[#3C3C4399] opacity-60"
              ></i>
            </button>
          </div>
        </div>
        <div class="space-y-3 px-5 pb-4">
          <div>
            <p class="text-xs leading-5 text-neutral-400">Recent</p>
            <ul class="space-y-1 text-sm" aria-labelledby="dropdownWhereButton">
              <li>
                <a
                  href="#"
                  class="flex items-center gap-x-3 p-1 text-sm font-semibold"
                >
                  <i
                    class="bx bx-time-five rounded-full bg-neutral-100 p-1 text-xl leading-6"
                  ></i>
                  Taiwan
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gap-x-3 p-1 text-sm font-semibold"
                >
                  <i
                    class="bx bx-time-five rounded-full bg-neutral-100 p-1 text-xl leading-6"
                  ></i>
                  Tokyo
                </a>
              </li>
            </ul>
          </div>
          <div>
            <p class="text-xs leading-5 text-neutral-400">Popular</p>
            <ul
              class="space-y-1 text-sm"
              aria-labelledby="dropdownDefaultButton"
            >
              <li>
                <a
                  href="#"
                  class="flex items-center gap-x-3 p-1 text-sm font-semibold"
                >
                  <i
                    class="bx bx-time-five rounded-full bg-neutral-100 p-1 text-xl leading-6"
                  ></i>
                  Bangkok
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gap-x-3 p-1 text-sm font-semibold"
                >
                  <i
                    class="bx bx-time-five rounded-full bg-neutral-100 p-1 text-xl leading-6"
                  ></i>
                  Canada
                </a>
              </li>
              <li>
                <a
                  href="#"
                  class="flex items-center gap-x-3 p-1 text-sm font-semibold"
                >
                  <i
                    class="bx bx-time-five rounded-full bg-neutral-100 p-1 text-xl leading-6"
                  ></i>
                  Eroupe
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Date Picker -->
    <div>
      <button
        id="dropdown-when"
        class="flex w-full items-center justify-between rounded-2xl bg-white px-5 py-4 !text-black shadow-[0px_6px_12px_-4px_#0000001A]"
      >
        <div class="flex gap-x-2">
          <i class="bx bx-calendar text-2xl leading-6"></i>
          <p class="datepicker-title">When</p>
        </div>
        <p class="datepicker-selected text-sm font-semibold">From tomorrow</p>
      </button>
      <div
        id="datepicker"
        class="h-0 overflow-hidden rounded-b-2xl bg-white duration-300 ease-in-out"
      >
        test
      </div>
    </div>

    <!-- Members Selector -->
    <div id="accrodin-who" data-accordion="collapse">
      <h2 id="accordion-who-heading-2">
        <button
          type="button"
          data-accordion-target="#accordion-collapse-body-2"
          aria-expanded="false"
          aria-controls="accordion-collapse-body-2"
          class="flex w-full items-center justify-between rounded-2xl bg-white px-5 py-4 !text-black shadow-[0px_6px_12px_-4px_#0000001A]"
        >
          <div class="flex gap-x-2">
            <i class="bx bx-user-pin text-2xl leading-6"></i>
            <p>Who</p>
          </div>
          <p class="text-sm font-semibold">Only me</p>
        </button>
      </h2>
      <div
        id="accordion-collapse-body-2"
        class="hidden"
        aria-labelledby="accordion-collapse-heading-2"
      ></div>
    </div>
  </div>
</div>
