<div
  id="drawer-left"
  class="fixed left-0 top-0 z-50 h-screen w-full -translate-x-full overflow-y-auto bg-[#F5F6F6] pb-36 transition-transform"
  tabindex="-1"
  aria-labelledby="drawer-left-label"
>
  <div class="container relative space-y-4">
    <div class="flex items-center justify-between">
      <div class="flex items-center gap-x-4">
        <button
          type="button"
          data-drawer-hide="drawer-left"
          aria-controls="drawer-left"
          class="flex items-center justify-center py-3"
        >
          <i class="bx bx-left-arrow-alt text-2xl leading-6"></i>
        </button>
        <p class="text-2xl font-bold">Plan selection</p>
      </div>

      <button
        type="button"
        data-drawer-hide="drawer-left"
        aria-controls="drawer-left"
        class="flex items-center justify-center py-3 text-sm underline"
      >
        Cancel
      </button>
    </div>

    <!-- orderMembers Selector -->
    <div>
      <button
        type="button"
        id="orderAccordion-who"
        class="flex w-full items-center justify-between rounded-2xl bg-white px-5 py-4 !text-black shadow-[0px_6px_12px_-4px_#0000001A]"
      >
        <div class="flex gap-x-2">
          <i class="bx bx-user-pin text-2xl leading-6"></i>
          <p class="orderMember-title">Guest</p>
        </div>
        <p class="text-sm font-semibold">1 Adult</p>
      </button>
      <div
        id="orderMember"
        class="h-0 overflow-hidden rounded-b-2xl bg-white duration-300 ease-in-out"
      >
        <div class="py-4">
          <div class="flex items-center justify-between px-4 py-2">
            <div>
              <p>Adult</p>
              <p class="text-xs text-[#6A706F]">Age 13 or above</p>
            </div>
            <div class="flex items-center">
              <a href="#">
                <i class="bx bx-minus size-[32px] p-2 text-[#E6E7E7]"></i>
              </a>
              <span class="p-1">1</span>
              <a href="#">
                <i class="bx bx-plus size-[32px] p-2 text-[#6A706F]"></i>
              </a>
            </div>
          </div>
          <div class="flex items-center justify-between px-4 py-2">
            <div>
              <p>Child</p>
              <p class="text-xs text-[#6A706F]">2-12 years old</p>
            </div>
            <div class="flex items-center">
              <a href="#">
                <i class="bx bx-minus size-[32px] p-2 text-[#E6E7E7]"></i>
              </a>
              <span class="p-1">0</span>
              <a href="#">
                <i class="bx bx-plus size-[32px] p-2 text-[#6A706F]"></i>
              </a>
            </div>
          </div>
          <div class="flex items-center justify-between px-4 py-2">
            <div>
              <p>Toddler</p>
              <p class="text-xs text-[#6A706F]">Under 2 years old</p>
            </div>
            <div class="flex items-center">
              <a href="#">
                <i class="bx bx-minus size-[32px] p-2 text-[#E6E7E7]"></i>
              </a>
              <span class="p-1">0</span>
              <a href="#">
                <i class="bx bx-plus size-[32px] p-2 text-[#6A706F]"></i>
              </a>
            </div>
          </div>
          <div class="flex items-center justify-between px-4 py-2">
            <div>
              <p>Pet</p>
            </div>
            <div class="flex items-center">
              <a href="#">
                <i class="bx bx-minus size-[32px] p-2 text-[#E6E7E7]"></i>
              </a>
              <span class="p-1">0</span>
              <a href="#">
                <i class="bx bx-plus size-[32px] p-2 text-[#6A706F]"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Datepicker -->
    <div>
      <button
        type="button"
        id="orderDropdown-when"
        class="flex w-full items-center justify-between rounded-2xl bg-white px-5 py-4 !text-black shadow-[0px_6px_12px_-4px_#0000001A]"
      >
        <div class="flex gap-x-2">
          <i class="bx bx-calendar text-2xl leading-6"></i>
          <p class="orderDatepicker-title">Date</p>
        </div>
        <p class="orderDatepicker-selected text-sm font-semibold">
          Thu, Aug 1, 2024
        </p>
      </button>
      <%- include('./src/components/orderDatepicker.ejs'); -%>
    </div>

    <!-- TimeSelected -->
    <div>
      <button
        type="button"
        id="orderAccordion-time"
        class="flex w-full items-center justify-between rounded-2xl bg-white px-5 py-4 !text-black shadow-[0px_6px_12px_-4px_#0000001A]"
      >
        <div class="flex gap-x-2">
          <i class="bx bx-time-five text-2xl leading-6"></i>
          <p class="orderTime-title">Time</p>
        </div>
      </button>
      <div
        id="orderTime"
        class="h-0 overflow-hidden rounded-b-2xl bg-white duration-300 ease-in-out"
      >
        <div class="pb-4 pt-2">
          <div class="space-y-3 px-4 py-3">
            <p class="text-sm">Fri, Aug 2, 2024</p>
            <div class="flex gap-x-2">
              <button
                class="rounded-lg bg-brand-300 px-[26px] py-1 font-semibold text-brand-800"
              >
                07:00
              </button>
              <button
                class="rounded-lg px-[26px] py-1 font-semibold text-[#6A706F] outline outline-1 outline-[#6A706F]"
              >
                14:00
              </button>
            </div>
          </div>

          <div class="space-y-3 px-4 py-3">
            <p class="text-sm">Sat, Aug 3, 2024</p>
            <div class="flex gap-x-2">
              <button
                class="flex-1 rounded-lg py-1 font-semibold text-[#6A706F] outline outline-1 outline-[#6A706F]"
              >
                07:00
              </button>
              <button
                class="flex-1 rounded-lg py-1 font-semibold text-[#6A706F] outline outline-1 outline-[#6A706F]"
              >
                14:00
              </button>
              <button
                class="flex-1 rounded-lg py-1 font-semibold text-[#6A706F] outline outline-1 outline-[#6A706F]"
              >
                18:00
              </button>
            </div>
          </div>

          <div class="space-y-3 px-4 py-3">
            <p class="text-sm">Mon, Aug 5, 2024</p>
            <div class="flex gap-x-2">
              <button
                class="flex-1 rounded-lg py-1 font-semibold text-[#6A706F] outline outline-1 outline-[#6A706F]"
              >
                07:00
              </button>
              <button
                class="flex-1 rounded-lg py-1 font-semibold text-[#6A706F] outline outline-1 outline-[#6A706F]"
              >
                14:00
              </button>
              <button
                class="flex-1 rounded-lg py-1 font-semibold text-[#6A706F] outline outline-1 outline-[#6A706F]"
              >
                18:00
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Next Step -->
    <div
      class="container fixed bottom-0 left-1/2 -translate-x-1/2 space-y-4 rounded-t-2xl bg-white py-4"
    >
      <div class="flex items-center gap-x-2">
        <p class="text-xl font-bold">From $1,050 TWD /</p>
        <p class="text-sm">person</p>
      </div>
      <a
        href="checkout.html"
        class="block w-full rounded-lg bg-brand-300 py-3 text-center text-brand-800 opacity-40 transition-all hover:opacity-100 focus:opacity-100"
      >
        Next
      </a>
    </div>
  </div>
</div>
