<!-- 篩選按鈕 -->
<div class="container overflow-x-scroll py-2 filter">
  <ul class="flex items-center gap-2 whitespace-nowrap">
    <!-- filter button  -->
    <li>
      <button
        data-drawer-target="drawer-bottom-1"
        data-drawer-show="drawer-bottom-1"
        data-drawer-placement="bottom"
        aria-controls="drawer-bottom-1"
        type="button"
      >
        <i
          class="bx bx-slider-alt bx-xs bx-border-circle border-neutral-300 p-2 hover:border-brand-600 hover:bg-brand-50 hover:text-brand-700 focus:border-brand-600 focus:bg-brand-50 focus:text-brand-700 focus:outline-none active:border-brand-600"
        ></i>
      </button>
    </li>
    <!-- Languages -->
    <li>
      <!-- Languages button -->
      <button
        data-drawer-target="drawer-bottom-2"
        data-drawer-show="drawer-bottom-2"
        data-drawer-placement="bottom"
        aria-controls="drawer-bottom-2"
        type="button"
        class="inline-flex items-baseline rounded-full border border-brand-600 bg-brand-50 px-4 py-1.5 text-center text-sm font-medium text-brand-700 focus:border-brand-600 focus:bg-brand-50 focus:text-brand-700 focus:outline-none active:border-brand-600"
        type="button"
      >
        Language
        <span class="ms-2">(2)</span>
      </button>
    </li>
    <!-- Activity  -->
    <li>
      <!-- Activity button -->
      <button
        data-drawer-target="drawer-bottom-3"
        data-drawer-show="drawer-bottom-3"
        data-drawer-placement="bottom"
        aria-controls="drawer-bottom-3"
        type="button"
        class="inline-flex items-baseline rounded-full border border-neutral-300 px-4 py-1.5 text-center text-sm font-medium text-neutral-900 hover:border-brand-600 hover:bg-brand-50 hover:text-brand-700 focus:border-brand-600 focus:bg-brand-50 focus:text-brand-700 focus:outline-none active:border-brand-600"
        type="button"
      >
        Activity Types
        <svg
          class="ms-3 h-2.5 w-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>
    </li>
    <!-- Price  -->
    <li>
      <!-- Price Button -->
      <button
        data-drawer-target="drawer-bottom-4"
        data-drawer-show="drawer-bottom-4"
        data-drawer-placement="bottom"
        aria-controls="drawer-bottom-4"
        type="button"
        class="inline-flex items-baseline rounded-full border border-neutral-300 px-4 py-1.5 text-center text-sm font-medium text-neutral-900 hover:border-brand-600 hover:bg-brand-50 hover:text-brand-700 focus:border-brand-600 focus:bg-brand-50 focus:text-brand-700 focus:outline-none active:border-brand-600"
        type="button"
      >
        Price
        <svg
          class="ms-3 h-2.5 w-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>
    </li>
    <!-- 其他篩選 5  -->
    <li>
      <!-- 其他篩選 5 Button -->
      <button
        data-drawer-target="drawer-bottom-5"
        data-drawer-show="drawer-bottom-5"
        data-drawer-placement="bottom"
        aria-controls="drawer-bottom-5"
        type="button"
        class="inline-flex items-baseline rounded-full border border-neutral-300 px-4 py-1.5 text-center text-sm font-medium text-neutral-900 hover:border-brand-600 hover:bg-brand-50 hover:text-brand-700 focus:border-brand-600 focus:bg-brand-50 focus:text-brand-700 focus:outline-none active:border-brand-600"
        type="button"
      >
        其他篩選 5
        <svg
          class="ms-3 h-2.5 w-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>
    </li>
    <!-- 其他篩選 6  -->
    <li>
      <!-- 其他篩選 6 Button -->
      <button
        data-drawer-target="drawer-bottom-6"
        data-drawer-show="drawer-bottom-6"
        data-drawer-placement="bottom"
        aria-controls="drawer-bottom-6"
        type="button"
        class="inline-flex items-baseline rounded-full border border-neutral-300 px-4 py-1.5 text-center text-sm font-medium text-neutral-900 hover:border-brand-600 hover:bg-brand-50 hover:text-brand-700 focus:border-brand-600 focus:bg-brand-50 focus:text-brand-700 focus:outline-none active:border-brand-600"
        type="button"
      >
        其他篩選 6
        <svg
          class="ms-3 h-2.5 w-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>
    </li>
  </ul>
</div>
